*pyc
detectron2_repo/*
slowfast.eg*
runs*
stdout*
output/*
wandb/*
checkpoints/*
check_feat.py
check.csv
handle_wandb.ipynb
exp_weights/
better_output/*
few_shot_test_csvs/
notebooks/analysis/*csv
out*
test_csvs*
notebooks/data/*
save_exp/
logs/*


point_tracking/slurm_extract_pt.py
check_sampler.sh
paths.yaml
ssv2_full.sh
configs/TaTs/fix_csv.py
old_cmds/
*.pdf
notebooks/paper_plot_stuff/tats_csvs/ssv2_small_labels_mod.csv
notebooks/paper_plot_stuff/tats_csvs/ssv2_small_accuracy_per_class.csv
notebooks/paper_plot_stuff/tats_csvs/ssv2_full_label_mod.csv
notebooks/paper_plot_stuff/tats_csvs/ssv2_small_accuracy_per_class.csv
notebooks/paper_plot_stuff/tats_csvs/ssv2_small_accuracy_per_class.csv
notebooks/paper_plot_stuff/our_csvs/ssv2_small_accuracy_per_class.csv
notebooks/paper_plot_stuff/our_csvs/ssv2_full_accuracy_per_class.csv
notebooks/paper_plot_stuff/tats_csvs/ssv2_small_accuracy_per_class.csv
notebooks/vis_stuff/vis_to_save*/